/* packageA/pages/address-edit/index.wxss */
.address-wrapper {
  padding: 40rpx 20rpx;
  .form-item {
    padding: 20rpx 0;
    background: #fff;
    border-radius: 8rpx;
    overflow: hidden;

    .van-field {
      background: transparent;
    }
  }

  .fixed-bottom-wrapper {
    display: flex;
  }
}
