/* components/custom-tabs/index.wxss */
.custom-tabs {
  position: relative;

  .custom-tabs-scroll-view {
    white-space: nowrap;

    .custom-tabs-item-wrapper {
      display: flex;
      align-items: center;

      .custom-tabs-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88rpx;
        padding: 0 20rpx;
        box-sizing: border-box;
      }
    }
  }
}