/* packageA/pages/order-confirm/index.wxss */
page {
  background-color: #fff;
  .app-container {
    padding-bottom: calc(128rpx + env(safe-area-inset-bottom));
    .order-confirm {
      display: flex;
      flex-direction: column;
      gap: 20rpx;
      .address-wrapper {
        display: flex;
        flex-direction: column;
        gap: 29rpx;
        padding: 20rpx;
        border-bottom: 12rpx solid #fafafa;

        .delivery-method {
          background-color: #fff;
          .delivery-method-title {
            padding: 20rpx 0 40rpx;
            font-size: 32rpx;
            font-weight: 400;
          }
          .delivery-options {
            display: flex;
            align-items: center;
            .delivery-option {
              display: flex;
              align-items: center;
              padding-right: 40rpx;
              .delivery-option-radio {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36rpx;
                height: 36rpx;
                border-radius: 50%;
                border: 2rpx solid #e5e7eb;
                box-sizing: border-box;
                &.delivery-option-radio--selected {
                  // border-color: rgb(44, 123, 229);
                  border-color: #000;
                }
                .delivery-option-radio-inner {
                  width: 20rpx;
                  height: 20rpx;
                  border-radius: 50%;
                  background-color: transparent;
                  &.delivery-option-radio-inner--selected {
                    // background-color: rgb(44, 123, 229);
                    background-color: #000;
                  }
                }
              }
              .delivery-option-label {
                padding-left: 20rpx;
              }
            }
          }
        }
        .address-info {
          background-color: #fff;
          border-radius: 20rpx;
          .address-card {
            position: relative;
            background: #ffffff;
            border: 2rpx solid #fafafa;
            border-radius: 4rpx;
            box-shadow: 0 4rpx 8rpx rgba(0, 0, 0, 0.1);
            overflow: hidden;

            .card-content {
              padding: 20rpx;
            }

            .card-content .no-address {
              font-size: 28rpx;
              font-weight: 300;
              margin: 18rpx 0;
            }

            .card-content .name {
              font-size: 28rpx;
              font-weight: 500;
              margin-bottom: 20rpx;
            }

            .card-content .phone {
              font-size: 28rpx;
              font-weight: 300;
              color: #333;
              margin-bottom: 12rpx;
            }

            .card-content .address {
              font-size: 26rpx;
              font-weight: 300;
              color: #333;
              line-height: 1.5;
            }

            .edit-icon {
              position: absolute;
              top: 32rpx;
              right: 48rpx;
              width: 48rpx;
              height: 48rpx;
              cursor: pointer;
            }

            .card-footer {
              height: 4rpx;
              background: repeating-linear-gradient(45deg, #fdd835, /* 黄色 */ #fdd835 10rpx, #ffffff 10rpx, #ffffff 20rpx, #000000 20rpx, #000000 30rpx, #ffffff 30rpx, #ffffff 40rpx);
            }
          }
          .no-address {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .add-address-left {
              display: flex;
              align-items: center;
              font-weight: 500;
              color: rgb(44, 123, 229);
              .fa-map-marker-alt {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70rpx;
                height: 70rpx;
                background-color: rgb(250, 250, 250);
                border-radius: 50%;
              }
              .add-address-view {
                padding-left: 20rpx;
              }
            }
          }
        }
      }
      .product-list {
        padding: 24rpx 24rpx 0;
        background-color: #fff;
        border-radius: 20rpx;
        border-bottom: 12rpx solid #fafafa;
        box-sizing: border-box;
        .product-list-title {
          font-size: 32rpx;
          font-weight: 400;
        }
        .product-item {
          display: flex;
          padding: 20rpx 0;
          border-bottom: 2rpx solid #eaeaea;
          &:last-child {
            border-bottom: none;
          }
          .product-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            padding-left: 20rpx;

            .product-name {
              font-weight: 400;
            }

            .product-spec {
              padding-top: 10rpx;
              font-size: 24rpx;
            }

            .product-price-quantity {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-top: 10rpx;
              font-size: 24rpx;
              font-weight: 300;
              .product-price {
                color: #333;
              }
            }
          }
        }
      }
      .self-pick-info {
        background-color: #fff;
        border-radius: 20rpx;
        .self-pick-input {
          padding: 20rpx;
          margin-bottom: 20rpx;
          background-color: rgb(250, 250, 250);
          font-size: 24rpx;
        }
      }
      .remark-section {
        /* 暂时隐藏备注 */
        display: none;
        padding: 20rpx;
        background-color: #fff;
        border-radius: 20rpx;
        border-bottom: 12rpx solid #fafafa;
        .remark-textarea {
          padding: 20rpx;
          background-color: rgb(250, 250, 250);
          font-size: 24rpx;
        }
      }
      .order-details {
        padding: 20rpx;
        background-color: #fff;
        border-radius: 20rpx;
        .order-details-title {
          padding: 0 0 20rpx;
          font-size: 32rpx;
          font-weight: 400;
        }
        .order-details-item {
          font-size: 24rpx;
          .order-detail {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20rpx 0;

            .order-detail-label {
              font-weight: 300;
              color: #666;
            }

            .order-detail-value {
              font-weight: 300;
              color: #333;
            }
          }
        }
      }
      .fixed-bottom-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .amount-container {
          display: flex;
          flex-direction: column;
          .amount {
            display: flex;
            align-items: center;
            padding-right: 20rpx;
            font-size: 28rpx;
            font-weight: 300;
            .amount-value {
              font-size: 36rpx;
              font-weight: 400;
              color: #000;
            }
          }
          .amount-tips {
            font-size: 20rpx;
            color: #666;
            font-weight: 300;
          }
        }
      }
    }
  }
}
