/* pages/guide/index.wxss */
.guide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  .pass-button {
    width: 180rpx;
    height: 60rpx;
    border-radius: 56rpx;
    border: 2rpx solid #ffffff;
    box-sizing: border-box;
    background-color: transparent;
    color: #ffffff;
    font-size: 24rpx;
    margin-left: 40rpx;
  }

  .pass-button-slot {
    display: flex;
    align-items: center;

    .pass-button-text {
      padding-right: 5rpx;
    }
    .van-count-down {
      font-size: 24rpx;
      color: #ffffff;
    }
  }

  #canvas {
    width: 100%;
    height: 100%;
  }

  .explore-button {
    position: fixed;
    bottom: 120rpx;
    left: 50%;
    width: 300rpx;
    height: 88rpx;
    background-color: transparent;
    color: #031c24;
    transform: translateX(-50%);

    .explore-button-solt {
      display: flex;
      align-items: center;
      .icon-caret-right {
        color: #ffffff;
      }
    }
  }
}
