/* components/com-image/index.wxss */
.image-wrapper {
  position: relative;
  overflow: hidden;

  &.flex {
    display: flex;
    align-items: center;
  }

  &.image-round {
    border-radius: 50% !important;
  }

  .image-error,
  .image-img,
  .image-loading {
    display: block;
    width: 100%;
    height: 100%;
  }

  .image-error,
  .image-loading {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #edf0f0;

    .placeholder_bg_logo {
      width: 50%;
      height: 0;
    }
  }
}
