.page-container {
  background: linear-gradient(180deg, #1890ff 0%, #40a9ff 100%);

  .nav-bar {
    height: 100%;
    padding: 0 20rpx;

    .nav-action {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 32rpx;
      border-radius: 32rpx;
      background: rgba(255, 255, 255, 0.2);
      font-size: 24rpx;
    }
  }

  .content-wrapper {
    position: relative;
    padding: 20rpx 40rpx;
  }
}