/* packageA/pages/virtuali-list/index.wxss */
page {
  background-color: #ffffff;
  .app-container {
    .title {
      padding: 40rpx;
      font-size: 36rpx;
      font-weight: 500;
    }

    .tips {
      padding: 0 40rpx;
      line-height: 40rpx;
    }

    .goods-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 40rpx;
    }
  }
}
