/* packageA/pages/order-list/index.wxss */
page {
  background-color: rgb(250, 250, 250);
  .nomore-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
  }
  .order-list-wrapper {
    .order-item-box {
      .order-item {
        &:first-child {
          border-top: 2rpx solid rgb(250, 250, 250);
        }
        background-color: #ffffff;
        padding: 20rpx 40rpx;
        margin-bottom: 8rpx;
        .order-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .order-header-left {
            font-weight: 300;
            .order-time {
              color: #151515;
              font-size: 28rpx;
            }
          }
          .order-status {
            color: #666;
            font-size: 24rpx;
            font-weight: 200;
          }
        }
        .product-image-list {
          display: flex;
          overflow: auto;
          padding: 20rpx 0;
          .product-image-item {
            padding-right: 20rpx;
          }
        }
        .order-info {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 20rpx;
          font-weight: 300;
          font-size: 24rpx;
          border-top: 2rpx solid #f5f5f5;
          .order-total-amount {
            display: flex;
            align-items: center;
            .order-total-amount-value {
              color: #151515;
              font-weight: 400;
            }
          }
        }
        .order-action-buttons {
          display: flex;
          justify-content: flex-end;
          padding: 20rpx 0;
        }
      }
    }
  }
}
