/* packageB/pages/admin-backend/index.wxss */
.app-container {
  .admin-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20rpx;
    padding: 20rpx;

    .admin-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      gap: 32rpx;
      padding: 32rpx;
      border-radius: 32rpx;
      box-shadow:
        0 2rpx 6rpx 0 rgba(0, 0, 0, 0.1),
        0 2rpx 4rpx -2rpx rgba(0, 0, 0, 0.1);

      .admin-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110rpx;
        height: 110rpx;
        border-radius: 32rpx;
      }

      .admin-item-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10rpx;

        .admin-item-text {
          font-size: 32rpx;
        }

        .admin-item-count {
          font-size: 24rpx;
          color: #999999;
        }
      }
    }
  }
}
