/* packageA/pages/address/index.wxss */
.custom-fixed-bottom {
  width: 100%;
  padding: 24rpx 20rpx;
  box-sizing: border-box;
}

.scroll-wrapper {
  padding-bottom: calc(env(safe-area-inset-bottom) + 128rpx);
  box-sizing: border-box;
  .address-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40rpx;
    border-bottom: 1px dashed #f6f6f6;
    .address-info {
      flex: 1;
      .linkMan-mobile {
        padding-bottom: 20rpx;
        .mobile {
          padding-left: 20rpx;
        }
      }
    }
    .address-icon {
      padding-left: 40rpx;
    }
  }
  .delete-button-wrapper {
    height: 100%;
  }
  .empty {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
}

.address-title {
  padding: 10px 40rpx 60rpx;
  box-sizing: border-box;
  font-size: 36rpx;
  font-weight: 500;
}

.unaddress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50vw;
}
