page {
  background-color: #ffffff;
  .app-container {
    .title {
      padding: 40rpx;
      font-size: 36rpx;
      font-weight: 500;
    }

    .tips {
      padding: 0 40rpx;
      line-height: 40rpx;
    }

    .external-custom-iconfont {
      margin-top: 40rpx;
      text-align: center;
    }
  }
}
